<nav class="main-nav mb-6">
    <ul class="flex">
        <li><a class="px-1" href="/">Home</a></li>
        <li><a class="px-1" href="/tags">Archive</a></li>
        <li><a class="px-1" href="/about">About</a></li>
    </ul>
</nav>
