<!DOCTYPE html>
<html lang='es'>

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    <meta name='robots' content='index,follow'>
    <meta name='revisit-after' content='1 days'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta http-equiv='cleartype' content='on'>

    <link rel='alternate' type='application/rss+xml' title='{{ site.name }}' href='{{ site.url }}/feed.xml'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
    <link rel='stylesheet' type='text/css' href='{{ site.url }}/assets/css/main.css'>

    {% if site.highlighter %}
        <link rel='stylesheet' type='text/css' href='{{ site.url }}/assets/css/syntax.css'>
    {% endif %}

</head>

<body>
    <header id='top' class='main-header'>

        <div class='module title color-1'>
            {% if page.title %}
                <h2><a href='{{ site.url }}/' title='{{ site.name }}'>{{ site.name }}</a></h2>
            {% else %}
                <h1><a href='{{ site.url }}/' title='{{ site.name }}'>{{ site.name }}</a></h1>
            {% endif %}
        </div>

        <div class='module description color-2'>
            {{ site.description }}
        </div>

        <nav class='module main-menu color-4'>
            <a href='{{ site.url }}/'>Blog</a>
            <a href='{{ site.url }}/contact/'>Contacto</a>
            <a href='{{ site.url }}/about/'>Acerca</a>
        </nav>

        <div class='module search color-3'>
            <form action='https://www.google.com/search?num=100&as_sitesearch=foro.elhacker.net' method='GET'>
                <input id='search' name='q' type='text' value='' placeholder='Buscar...' />
            </form>
        </div>

        <div class='module links color-3'>
            <a href='https://github.com/{{ site.github }}' title='Profile in Github' target='_blank'>github</a>
            <a href='https://twitter.com/{{ site.twitter }}' title='Profile in Twitter' target='_blank'>twitter</a>
            <a href='https://plus.google.com/{{ site.google }}' title='Profile in Google+' target='_blank'>Google+</a>
            <a href='{{ site.url }}/feed.xml' title='Suscribe to RSS' target='_blank'>rss</a>
        </div>

    </header>

    {{ content }}

    {% include footer.html %}

    <script type='text/javascript' src='{{ site.url }}/assets/js/awesomplete.min.js'></script>
    <script type='text/javascript' src='{{ site.url }}/assets/js/dm-search.js'></script>
</body>
</html>
