body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: #f1f1f1;
  background-image: radial-gradient(#d1d1d1 1px, #f1f1f1 1px);
  background-size: 20px 20px;
}

a {
  color: #151515;
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  color: #151515;
  font-weight: black;
}

.main-nav {
  border-bottom: 3px solid #151515;
  padding-bottom: 10px;
}

.main-nav a {
  text-decoration: none;
  border-bottom: 3px solid #151515;
  font-weight: 500;
  padding-bottom: 13px;
  margin-right: 1.5rem;
}

.main-nav a:hover {
  border-color: #ee0000;
}
